name: Post welcome content
on:
  pull_request:
    types: [opened]
  permissions:
    pull-requests: write
  jobs:
    welcome:
      name: Post welcome comment
      runs-on: ubuntu-latest

       [!NOTE]
       This is an incomplete workflow file. It is normal if you receive an error message. One step at
       a time! 
